*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#mainlink{
    font-size: 45px;
}

main{
    background-image: url('https://t3.ftcdn.net/jpg/06/81/30/28/240_F_681302882_2PtVc5uMxTktbr11aJdvOJRtiEJMQsNZ.jpg');
    background-size: cover;
    background-position: center;
}

#h1{
    font-size: 45px;
    color: rgb(243, 234, 234);
}
